
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
h1 {
  text-align: center;
  margin-top: 50px;
}
form {
    position: relative;
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #d9d9d9;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"], input[type="password"], input[type="email"], select[name="role"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-sizing: border-box;
}
input[type="submit"] {
  position:absolute;
  right: .5cm;
  bottom: .5cm;
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

  
input[type="submit"]:hover {
  background-color: #3e8e41;
}
.create-account-link {
    position:absolute;
    left: .5cm;
    bottom: .3cm;
  margin-top: 20px;
  text-decoration: none;
  color: #19651b;
  
}
.have-account-link {
  position:relative;
  right: 0cm;
  top: .3cm;
margin-top: 20px;
text-decoration: none;
color: #19651b;

}
.create-account-link:hover{

    color: #3e8e41;
}
.have-account-link:hover{

  color: #3e8e41;
}